<!-- Modal -->
<div class="modal fade" id="listacompras-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="staticBackdropLabel">Lista de Compras</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>O que é?</h5>
                <p>
                    Site para fazer listas de compras, mais voltado para atacado
                </p>

                <h5>Objetivo</h5>
                <p>
                    Resolver um problema que vi na loja da minha mãe, que era a falta de organização ao fazer compras online,
                    alem de aplicar meus conhecimentos em Laravel.
                </p>

                <h5>Descrição</h5>
                <p>
                    Elaborei toda a parte de login e cadastro com suas respectivas validações, em relação ao cadastro adicionei preview de imagem de perfil e
                    consulta de CEP com api <a href="https://viacep.com.br" target="_blank">ViaCep</a>
                </p>

                <div class="row my-2 py-3 px-5 bg-secondary justify-content-around">
                    <div class="col-5 ">
                        <img src="Img/listacompras/login.png" class="w-100 rounded" alt="img-login">
                    </div>
                    <div class="col-6">
                        <img src="Img/listacompras/cadastro.png" class="w-100 rounded" alt="img-cadastro">
                    </div>
                </div>

                <br><br>

                <p>
                    No dashboard são listadas as compras e os itens contidos nelas, com opção de criar, excluir e editar, 
                    utilizei modals para executar tais funções.
                </p>
                <div class="row my-2 gy-3 py-3 px-2 bg-secondary justify-content-around">
                    <div class="col-12 ">
                        <img src="Img/listacompras/dashboard.png" class="w-100 rounded" alt="img-login">
                    </div>
                    <div class="col-12">
                        <img src="Img/listacompras/itens.png" class="w-100 rounded" alt="img-cadastro">
                    </div>
                </div>
                <br><br>
                <p>
                    Elaborei uma API onde abstrai todos os recursos da aplicação e retornando JSON
                </p>
                <div class="row my-2 gy-3 py-3 px-2 bg-secondary justify-content-around">
                    <div class="col-12 ">
                        <img src="Img/listacompras/api.png" class="w-100 rounded" alt="img-login">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="https://gitlab.com/miqueiasbraga2001/api_lista_compras" target="_blank" class="btn btn-dark py-1"><i class="fa-brands fa-gitlab"></i></a>
                <a href="https://listacompras.miqueiasbraga.com" target="_blank" class="btn btn-tema"> Visitar <i class="bi bi-caret-right-fill"></i></a>
            </div>
        </div>
    </div>
</div>