<!-- Modal -->
<div class="modal fade" id="naf-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="staticBackdropLabel">Portal NAF</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>O que é?</h5>
                <p>
                    Portal feito com o intuito de coletar e organizar informações de atendimentos da rede <a target="_blank" href="https://www.gov.br/receitafederal/pt-br/assuntos/educacao-fiscal/educacao-fiscal/naf#:~:text=O%20N%C3%BAcleo%20de%20Apoio%20Cont%C3%A1bil,por%C3%A9m,%20um%20escrit%C3%B3rio%20de%20contabilidade.">NAF</a>.
                    alem de ser um centro onde são reunidos os links dos serviços prestados em um unico lugar.
                </p>

                <h5>Objetivo</h5>
                <p>
                    Este projeto foi feito junto com a <a href="https://faculdadetorricelli.com.br">Faculdade Torricelli</a>
                    onde o foco não era simplimente a programação, mas o passo a passo de como projetar algo
                    que esteja de acordo com que foi pedido, quem era o publico, qual plataforma seria mais apropriada etc.
                </p>

                <h5>Descrição</h5>
                <p>
                    Como é um portal existe niveis de usuários, onde o usuário 1 equivale ao mais basico
                    e vai até o usuário 4 que ja é o mais avançado. As contas são feitas pela intituição
                    utilizando usuarios 3 e 4.
                </p>
                <p>
                    A cada atendimento, todas as informações relevantes são armazenadas no banco de dados
                    onde usuarios de niveis maiores podem ver os resultados atravês de gráficos e tabelas.
                </p>

                <h5>Informações ao VISTAR</h5>
                <span> - Algumas informações não estão dispostas para certos usuarios.</span>
                <br>
                <span> - Os gráficos não representam informações reais por se tratar de um demostração</span>
                <br><br>

                <table class="table table-striped w-50">
                    <thead>
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Senha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>usuario1@gmail.com</td>
                            <td>12345678</td>
                        </tr>
                        <tr>
                            <td>usuario2@gmail.com</td>
                            <td>12345678</td>
                        </tr>
                        <tr>
                            <td>usuario3@gmail.com</td>
                            <td>12345678</td>
                        </tr>
                        <tr>
                            <td>usuario4@gmail.com</td>
                            <td>12345678</td>
                        </tr>
                    </tbody>
                </table>
                <br><br>
                

                <h5>O que foi Utilizado</h5>
                <div class="marcadores text-start">
                    <span class="badge" style="background-color: #E64C2A;">HTML</span>
                    <span class="badge" style="background-color: #C36291;">SASS</span>
                    <span class="badge" style="background-color: #ff7300;">JavaScript</span>
                    <span class="badge" style="background-color: #722DF9;">Bootstrap</span>
                    <span class="badge" style="background-color: #1064A5;">JQuery</span>
                    <span class="badge" style="background-color: #147FB5;">Ajax</span>
                    <span class="badge" style="background-color: #4C5789;">PHP</span>
                    <span class="badge text-dark" style="background-color: #eeff00;">MySQL</span>
                    <span class="badge" style="background-color: #ff9900;">MVC</span>
                </div>
            </div>
            <div class="modal-footer">
                <a href="https://gitlab.com/miqueiasbraga2001/portal-naf" target="_blank" class="btn btn-dark py-1"><i class="fa-brands fa-gitlab"></i></a>
                <button disabled type="button" class="btn btn-tema"> Visitar <i class="bi bi-caret-right-fill"></i></button>
            </div>
        </div>
    </div>
</div>