<div class="carregando">
    <div class="text-center">
        <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
            <span class="visually-hidden">Carregando...</span>
        </div>
    </div>
</div>