<script>
    $('title').html('Miquéas SB - Desenvolvimento WEB ')
</script>

<?php
require_once '../app/Views/index/index.phtml';

//----------- MODAL -------------
require_once '../app/Views/Modal/naf_modal.phtml';
require_once '../app/Views/Modal/listacompras_modal.phtml';

?>

<section id="descricao" class="row p-5 bg-light">
    <div class="col-md-7 col-12">
        <h3 class="fs-2">Olá!</h3>
        <p class="fs-4">Me chamo Miquéias, e sou fascinado pelo desenvolvimento tecnológico
            e os avanços que se pode alcançar ao resolver um problema ou aprimorar uma atividade
        </p>
    </div>
</section>

<section id="linguagens" class="row gy-4 gx-1 p-md-5 p-1 pb-4 justify-content-center">
    <h3 class="col-12 mb-md-5 mb-sm-2 text-center fs-1 text-light">Meus Projetos</h3>

    <div class="col-lg-3 col-sm-6 col-10">
        <div class="card card-projeto mini-card" onclick="_link('https://relogio.miqueiasbraga.com')">
            <img src="Img/relogio.png" class="card-img-top" alt="img-relogio-web">
            <div class="card-body">
                <h5 class="card-title">Relógio de Ponteiros</h5>
                <div class="marcadores">
                    <span class="badge" style="background-color: #E64C2A;">HTML</span>
                    <span class="badge" style="background-color: #254BDD;">CSS</span>
                    <span class="badge" style="background-color: #ff7300;">JavaScript</span>
                    <span class="badge" style="background-color: #1064A5;">JQuery</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-10">
        <div class="card card-projeto" data-bs-toggle="modal" data-bs-target="#listacompras-modal">
            <img src="Img/listacompras.png" class="card-img-top" alt="...">
            <div class="card-body">

                <h5 class="card-title">Lista de Compras</h5>

                <div class="marcadores">
                    <span class="badge" style="background-color: #F23526;">Laravel</span>
                    <span class="badge" style="background-color: #65A04C;">API</span>
                    <span class="badge" style="background-color: #E64C2A;">HTML</span>
                    <span class="badge" style="background-color: #C36291;">SASS</span>
                    <span class="badge" style="background-color: #ff7300;">JavaScript</span>
                    <span class="badge" style="background-color: #722DF9;">Bootstrap</span>
                    <span class="badge" style="background-color: #1064A5;">JQuery</span>
                    <span class="badge" style="background-color: #147FB5;">Ajax</span>
                    <span class="badge" style="background-color: #4C5789;">PHP</span>
                    <span class="badge text-dark" style="background-color: #eeff00;">MySQL</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-10">
        <div class="card card-projeto" data-bs-toggle="modal" data-bs-target="#naf-modal">
            <img src="Img/naf.png" class="card-img-top" alt="...">
            <div class="card-body">

                <h5 class="card-title">Portal NAF</h5>

                <div class="marcadores">
                    <span class="badge" style="background-color: #E64C2A;">HTML</span>
                    <span class="badge" style="background-color: #C36291;">SASS</span>
                    <span class="badge" style="background-color: #ff7300;">JavaScript</span>
                    <span class="badge" style="background-color: #722DF9;">Bootstrap</span>
                    <span class="badge" style="background-color: #1064A5;">JQuery</span>
                    <span class="badge" style="background-color: #147FB5;">Ajax</span>
                    <span class="badge" style="background-color: #4C5789;">PHP</span>
                    <span class="badge text-dark" style="background-color: #eeff00;">MySQL</span>
                    <span class="badge" style="background-color: #ff9900;">MVC</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-10">
        <div class="card card-projeto surgir" onclick="_link('https://sorteioequipes.miqueiasbraga.com')">
            <img src="Img/equipes.png" class="card-img-top" alt="logo sorteio de quipes">
            <div class="card-body">
                <h5 class="card-title">Sorteio de Equipes</h5>

                <div class="marcadores">
                    <span class="badge" style="background-color: #E64C2A;">HTML</span>
                    <span class="badge" style="background-color: #C36291;">SASS</span>
                    <span class="badge" style="background-color: #ff7300;">JavaScript</span>
                    <span class="badge" style="background-color: #722DF9;">Bootstrap</span>
                    <span class="badge" style="background-color: #1064A5;">JQuery</span>
                </div>
            </div>
        </div>
    </div>

    

</section>

<?php require_once '../app/Views/index/rodape.phtml'; ?>