<script defer src="/JS/logica.js"></script>

<div id="index_email" class="mb-2">
    <form method="post" id="form_email">
        <div class="row justify-content-center">
            <div class="col-md-4 col-9">
                <div class=" input-group mb-3 surgir-2">
                    <span class="input-group-text">De:</span>
                    <input name="email" required type="email" class="form-control" placeholder="seu_email@mail.com">
                </div>
            </div>
            <div class="col-md-4 col-9 surgir">
                <div class="input-group mb-3">
                    <span class="input-group-text">Para:</span>
                    <input class="form-control" type="text" value="miqueiasbraga2001@gmail.com" disabled readonly>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-9 surgir-1">
                <div class=" input-group mb-3">
                    <span class="input-group-text">Assunto:</span>
                    <input name="assunto" required type="text" class="form-control" placeholder="">
                </div>
            </div>
        </div>
        <div class="row justify-content-center gy-0">
            <div class="col-md-8 col-9 surgir-3">
                <textarea name="mensagem" id="mensagem" class="form-control" rows="4" placeholder="Mensagem..."></textarea>
                <button id="btn_enviar" type="submit" class="w-100">Enviar</button>
            </div>
        </div>
    </form>
</div>
