<script>
    $('title').html('Miquéas SB - Eng Mecatrônico')
</script>

<?php 

require_once '../app/Views/index/index.phtml';

//----------- MODAL -------------
require_once '../app/Views/Modal/naf_modal.phtml';

?>

<section id="descricao" class="row p-5 bg-light">
    <div class="col-md-7 col-12">
        <h3 class="fs-2">Olá!</h3>
        <p class="fs-4">Me chamo Miquéias, e sou fascinado pelo desenvolvimento tecnológico
            e os avanços que se pode alcançar ao resolver um problema ou aprimorar uma atividade
        </p>
    </div>
</section>

<section id="linguagens" class="row gy-4 gx-md-5 gx-sm-1 p-md-5 p-1 pb-4 justify-content-center">
    <h3 class="col-12 mb-md-5 mb-sm-2 text-center fs-1 text-light">Meus Projetos</h3>

    <div class="col-lg-4 col-sm-6 col-10">
        <div class="card card-projeto" onclick="_link('https://thangs.com/designer/Miqu%C3%A9iasSB')">
            <img src="Img/cad.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Modelagem 3D</h5>

                <div class="marcadores">
                    <span class="badge" style="background-color: #6E8699;">FreeCad</span>
                    <span class="badge" style="background-color: #FF6B01;">Fusion360</span>
                    <span class="badge" style="background-color: #0093E0;">Shapr3D</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-10" data-bs-toggle="modal" data-bs-target="#naf-modal">
        <div class="card card-projeto">
            <img src="Img/naf.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Portal NAF</h5>

                <div class="marcadores">
                    <span class="badge" style="background-color: #E64C2A;">HTML</span>
                    <span class="badge" style="background-color: #C36291;">SASS</span>
                    <span class="badge" style="background-color: #ff7300;">JavaScript</span>
                    <span class="badge" style="background-color: #722DF9;">Bootstrap</span>
                    <span class="badge" style="background-color: #1064A5;">JQuery</span>
                    <span class="badge" style="background-color: #147FB5;">Ajax</span>
                    <span class="badge" style="background-color: #4C5789;">PHP</span>
                    <span class="badge text-dark" style="background-color: #eeff00;">MySQL</span>
                    <span class="badge" style="background-color: #ff9900;">MVC</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-10">
        <div class="card card-projeto">
            <img src="Img/breve.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">EM BREVE</h5>

                <div class="marcadores invisible">
                    <span class="badge" style="background-color: #6E8699;">FreeCad</span>
                    <span class="badge" style="background-color: #FF6B01;">Fusion360</span>
                    <span class="badge" style="background-color: #0093E0;">Shapr3D</span>
                </div>
            </div>
        </div>
    </div>


</section>

<?php require_once '../app/Views/index/rodape.phtml'; ?>