<?php
$URL_ATUAL = "http://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";
//echo $URL_ATUAL;
?>

<div class="carregando surgir">
    <div class="text-center">
        <div class="spinner-border text-light" style="width: 10rem; height: 10rem;" role="status">
            <span class="visually-hidden">Carregando...</span>
        </div>
    </div>
</div>
<div class="ok surgir">
    <div class="text-center">
        <img src="Img/ok.png" alt="">
    </div>
</div>

<header>
    <svg id="onda" width="100%" viewBox="0 0 3521 998" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 526.953H3521V192.453C3521 192.453 3114.84 103.281 2817 113.5C2558.42 122.372 2135.5 192.453 2135.5 192.453C2135.5 192.453 1602 321.453 1079 88.453C739.792 -62.6664 563.958 8.90417 367.301 88.9501C260.747 132.321 148.08 178.18 0 192.453V526.953ZM3521 527H0V998H3521V527Z" fill="url(#paint0_linear_49_66)" />
        <defs>
            <linearGradient id="paint0_linear_49_66" x1="0" y1="0" x2="3578" y2="998" gradientUnits="userSpaceOnUse">
                <stop stop-color="#F90F0F" />
                <stop offset="1" stop-color="#F90F0F" stop-opacity="0.3" />
            </linearGradient>
        </defs>
    </svg>

    <?php require_once '../app/Views/index/links.phtml'; ?>

    <section id="conteudo" class="m-auto col-lg-10 col-md-11 col-sm-12 mt-4">
        <?php
        if ($URL_ATUAL == 'http://localhost:8080/') {

            require_once '../app/Views/index/links-areas.phtml';
        } else if ($URL_ATUAL == 'http://localhost:8080/engenharia-mecatronica') {

            require_once '../app/Views/index/titulo-mec.phtml';
        } else if ($URL_ATUAL == 'http://localhost:8080/desenvolvimento-web') {

            require_once '../app/Views/index/titulo-web.phtml';
        } ?>

    </section>
</header>