<div id="links-areas" class="row justify-content-center gx-5 gy-4 mb-sm-0 mb-4">
    <div onclick="_link('/desenvolvimento-web')" class="surgir-2 col-xl-4 col-lg-5 col-md-8 col-9">
        <div class="card card-portfolio">
            <img src="Img/img_web.png" class=" card-img-top" alt="...">
            <div class="card-body text-center text-light">
                <h5 class="card-title">Desenvolvimento WEB</h5>
            </div>
        </div>
    </div>

    <div class="surgir-1 col-xl-4 col-lg-5 col-md-8 col-9">
        <div onclick="_link('/engenharia-mecatronica')" class="card card-portfolio">
            <img src="Img/img_mec.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center text-light">
                <h5 class="card-title">Engenharia Mecatrônica</h5>
            </div>
        </div>
    </div>
</div>