<div class="row justify-content-center mx-4">

    <div class="row justify-content-center mt-5">

        <div class="col-lg-1 col-md-2 col-2"></div>
        <!--Divi para centralizar, deve ser igual a links-redes-->

        <d class="col-lg-2 col-md-3 col-sm-4 col-8 my-auto surgir">
            <img src="Img/perfil.png" id="img-perfil-principal" class="img-thumbnail rounded-circle" alt="foto-perfil">
        </d>

        <div class="col-lg-1 col-md-2 col-2 my-auto links-redes">
            <?php if ($URL_ATUAL != 'http://localhost:8080/engenharia-mecatronica') { ?>
                <a id="gitlab" class="surgir-1" href="https://gitlab.com/miqueiasbraga2001" target="_blank"><i class="fa-brands fa-gitlab"></i></a>
            <?php } ?>

            <a id="linkedin" class="surgir-2" href="https://www.linkedin.com/in/miqu%C3%A9ias-sousa-braga-a065b0192/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>

            <?php if ($URL_ATUAL != 'http://localhost:8080/desenvolvimento-web') { ?>
                <a id="thangs" class="pt-1 surgir-3" href="https://thangs.com/designer/Miqu%C3%A9iasSB" target="_blank">
                    <svg width="20" height="20" viewBox="0 0 178 179" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M56 93C56 77.536 68.536 65 84 65H114V151C114 166.464 101.464 179 86 179H84C68.536 179 56 166.464 56 151V93ZM101 93.5C101 102.06 94.2843 109 86 109C77.7157 109 71 102.06 71 93.5C71 84.9396 77.7157 78 86 78C94.2843 78 101 84.9396 101 93.5ZM85.5 166C94.0604 166 101 159.284 101 151C101 142.716 94.0604 136 85.5 136C76.9396 136 70 142.716 70 151C70 159.284 76.9396 166 85.5 166Z" fill="#2D2D2D" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M86 -1.22392e-06C101.464 -5.47967e-07 114 12.536 114 28L114 58L28 58C12.536 58 -1.98729e-06 45.464 -1.31134e-06 30L-1.22392e-06 28C-5.47967e-07 12.536 12.536 -4.43513e-06 28 -3.75918e-06L86 -1.22392e-06ZM85.5 45C76.9396 45 70 38.2843 70 30C70 21.7157 76.9396 15 85.5 15C94.0604 15 101 21.7157 101 30C101 38.2843 94.0604 45 85.5 45ZM13 29.5C13 38.0604 19.7157 45 28 45C36.2843 45 43 38.0604 43 29.5C43 20.9396 36.2843 14 28 14C19.7157 14 13 20.9396 13 29.5Z" fill="#2D2D2D" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M149 -1.26763e-06C133.536 0 121 12.536 121 28L121 58L150 58C165.464 58 178 45.464 178 30L178 28C178 12.536 165.464 -5.47967e-07 150 -1.22392e-06L149 -1.26763e-06ZM134 29C134 37.2843 140.94 44 149.5 44C158.06 44 165 37.2843 165 29C165 20.7157 158.06 14 149.5 14C140.94 14 134 20.7157 134 29Z" fill="#2D2D2D" />
                    </svg>
                </a>
            <?php } ?>

            <a id="email" class="surgir-4"><i class="fa-solid fa-envelope"></i></a>

            <?php if ($URL_ATUAL == 'http://localhost:8080/desenvolvimento-web') { ?>
                <a class="home home-web surgir-4"><i class="fa-solid fa-user"></i></a>
            <?php } 

             else if ($URL_ATUAL == 'http://localhost:8080/engenharia-mecatronica') { ?>
                <a class="home home-mec surgir-4"><i class="fa-solid fa-user"></i></a>
            <?php } else { ?>

                <a class="home home-link surgir-4"><i class="fa-solid fa-user"></i></a>
            <?php } ?>
        </div>
    </div>

    <div class="col-10 col-md-11 col-12 mt-3 text-center text-light surgir-4">
        <h1><b>Miquéias de Sousa Braga</b></h1>
    </div>

</div>