<div id="titulo-mec" class="row titulo-port justify-content-center">
    <div class="col-md-8 col-sm-10 col-10 mt-md-5 mt-sm-0 mt-5 mb-sm-0 mb-2">
        <div class="row">
            <h2 class="col-md-12 col-sm-10 col-10 text-light surgir-2 mt-3 mb-0" style="font-size: min(4em, 10vw);">Desenvolvedor WEB</h2>
            <h3 class="col-9 text-light surgir-3 mt-0" style="font-size: min(2em, 8vw);">Full Steck</h3>
        </div>
    </div>
    <div class="col-md-4 d-md-block d-none">
        <img class="mt-4 surgir-5" src="Img/code.png" alt="">
    </div>
</div> 