<div id="titulo-mec" class="row titulo-port justify-content-center">
    <div class="col-md-8 col-sm-10 col-10 mt-md-5 mt-sm-2 mt-1 mb-sm-0 mb-2">
        <div class="row text-sm-start text-center justify-content-center">
            <h2 class="col-md-12 col-sm-10 col-10 text-light surgir-2 mb-0" style="font-size: min(4em, 10vw);">Engenheiro</h2>
            <h2 class="col-md-12 col-sm-10 col-10 text-light surgir-3 mt-0 ms-sm-5" style="font-size: min(4em, 12vw);">Mecatrônico</h2>
        </div>
    </div>
    <div class="col-md-4 d-md-block d-none">
        <img id="robo-linha" class="mt-4 surgir-5" src="Img/robo1.png" alt="">
    </div>
</div> 