@keyframes opacidade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.surgir{
    opacity: 0;
    animation: opacidade 1s;
    animation-fill-mode: both;

    &-1{
        @extend .surgir;
        animation-delay: 0.2s;
    }
    &-2{
        @extend .surgir;
        animation-delay: 0.4s;
    }
    &-3{
        @extend .surgir;
        animation-delay: 0.6s;
    }
    &-4{
        @extend .surgir;
        animation-delay: 0.8s;
    }
    &-5{
        @extend .surgir;
        animation-delay: 1s;
    }

}
.esmaecer{
    opacity: 1;
    //display: block;
    animation: opacidade 1s reverse;
    animation-fill-mode: both;
    //display: none;

    &-1{
        @extend .esmaecer;
        animation-delay: 0.2s;
    }
    &-2{
        @extend .esmaecer;
        animation-delay: 0.4s;
    }
    &-3{
        @extend .esmaecer;
        animation-delay: 0.6s;
    }
    &-4{
        @extend .esmaecer;
        animation-delay: 0.8s;
    }
    &-5{
        @extend .esmaecer;
        animation-delay: 1s;
    }

}
