$cor_fundo: #131313;
$cor_primaria: #F90F0F;

@keyframes movimento-onda {
    from {

        transform: translateX(-560px);
    }
}

@media (max-width: 600px) {
    header {

        //height: 200vh !important;
        #onda {
            transform: scale(300%) !important;
            //bottom: 2em !important;
        }
    }
}

body {

    align-items: center;
    background-color: $cor_fundo;
    overflow-x: hidden;

    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ BARRA DE ROLAGEM $$$$$$$$$$$$$$$$$$$$$$
    &::-webkit-scrollbar {
        width: 8px;
        /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.301);
        padding: auto 1em;
        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.849);
        /* color of the scroll thumb */
        border-radius: 2px;
        /* roundness of the scroll thumb */
        //border:1px solid white;  /* creates padding around scroll thumb */

    }

    .btn-tema{
        color: white;
        background:linear-gradient(95.7deg, $cor_primaria 0%, #871111 100%);
        border: none;
        transition: all 1s;


        &:hover{
            color: white;
            background:linear-gradient(95.7deg, $cor_primaria 30%, #871111 100%);

        }
    }

    .carregando {
        display: none;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 3;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.397);
        color: $cor_fundo;
        
        .text-center{
            margin-top: 20%;
        }

    }

    .ok {
        @extend .carregando;
        //display: block;
        img{
            margin-top: 0.4em;
            width: max(9rem,8rem);
        }
    }

    header {

        height: 100vh;

        #onda {
            transform: scaleX(150%);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;

            path {
                animation: movimento-onda 6s ease-in-out infinite alternate;
            }
        }

        #img-perfil-principal {
            width: 100%;
        }

        .links-redes {
            //position: relative;
            //left: 75px;
            padding-left: 0%;
            transition: all 0.5s;

            a {

                width: 40px;
                height: 40px;
                margin: 8px 0;
                padding: auto;
                background-color: white;
                text-align: center;
                border-radius: 40px;
                transition: all 0.5s;
                outline: none;

                &::before {
                    outline: none;
                }

                i {
                    margin-top: 12px;
                    width: 100%;
                    color: $cor_fundo;
                }

                &:hover i {
                    color: white;
                }

                &.home {
                    display: none;

                    &:hover {
                        background-color: $cor_primaria;
                    }
                }

                display: block;
                position: static;

                path {
                    transition: all 0.5s;
                }

                &#thangs svg {
                    margin-top: 6px;
                }

                &#linkedin:hover {
                    background-color: #2987E5;
                }

                &#thangs:hover {
                    background-color: #FFBC00;
                }

                &#thangs:hover path {
                    fill: white;
                }

                &#gitlab:hover {
                    background-color: #fd6146;
                }

                &#email:hover {
                    background-color: #6315e0;
                }
            }
        }

        .card.card-portfolio {
            background: none;
            border: none;
            transition: all 0.4s;

            &:hover {
                box-shadow: -6px 3px 15px rgba(0, 0, 0, 0.2);
                cursor: pointer;

                .card-body {
                    background-color: rgba(255, 255, 255, 0.15);
                    //text-decoration: underline;
                }
            }

            img {
                border-radius: 8px 8px 0px 0px;
            }

            .card-body {
                background-color: rgba(255, 255, 255, 0.10);
                border-radius: 0 0 8px 8px;
                transition: all 0.4s;
            }
        }

        #index_email {

            #mensagem {
                border-radius: 5px 5px 0 0;
                resize: none;
                outline: none !important;

                &::-webkit-scrollbar {
                    width: 8px;
                    /* width of the entire scrollbar */
                }

                &::-webkit-scrollbar-track {
                    background: white;
                    padding: auto 1em;
                    /* color of the tracking area */
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #cc2b2b75;
                    /* color of the scroll thumb */
                    border-radius: 2px;
                    /* roundness of the scroll thumb */
                    //border:1px solid white;  /* creates padding around scroll thumb */

                }

            }

            #btn_enviar {
                font-weight: bold;
                border: none;
                border-radius: 0 0 5px 5px;
                background-color: rgba(255, 255, 255, 0.15);
                transition: all 0.5s;
                color: white;
                padding: 0.5em 0;
                outline: none !important;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.25);
                }
            }
        }

        .titulo-port {
            h2 {
                display: block;
                //width: 50%;
                //padding-top: 0.7em;
                margin-top: 0;


            }

            img {
                width: 15em;
                margin-left: 1em;
            }
        }
    }

    #linguagens {
        //background: linear-gradient(180deg, #131313c2 0%,$cor_fundo 100%);
        //background: $cor_fundo;
        //background-color: #ff9900;
        background: linear-gradient(219.13deg, #131313 -6.19%, #000000 1.82%, #363636 109.98%);
    }

    .card-projeto {
        background-color: rgba(0, 0, 0, 0.226);
        margin: 0 1em;
        background: none;
        border: none;
        transition: all 0.25s;
        cursor: pointer;

        img {
            //border-bottom: 2px solid $cor_primaria;
            min-height: 10em !important;
            transition: all 0.2s;

        }

        .card-title,
        .card-text {
            transition: all 0.2s;
        }

        &:hover {
            box-shadow: 0px 0px 2px 5px rgba(255, 255, 255, 0.308);
        }

        .card-body {
            background-color: #F8F9FA;
            border-radius: 0 0 8px 8px;
            transition: all 0.4s;
        }

        .marcadores {
            font-size: 0.8em;
        }
    }

    footer {
        background: linear-gradient(95.7deg, #F90F0F 0%, rgba(249, 15, 15, 0.21) 99.58%);
    }
}